.dayz.month .days .day .event {
  height: 80px;
}
.currentUser {
  color: crimson;
}
.formError {
  background-color: crimson;
  color: white;
}
.tinyIcon {
  font-size: 20px;
}
.mediumIcon {
  font-size: 30px;
}
.calendarDate {
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
}
.day-label{
  font-weight: bold;
}
.btn-primary {
  color: rgb(255, 217, 0);
  font-weight: bold;
  margin: 3px;
}
.landingScores {
  margin-left: 16px;
}
.list-group-item {
  background-color: gainsboro;
  color: white;
  font-weight: bold;
  padding-bottom: 1px;
  padding-top: 5px;
  padding-left: 1px;
  padding-right: 1px;
}
.list-group-item.active {
  background-color: rgb(255, 217, 0);
  color: black;
}
#landingScores div {
  margin-right: 0;
  margin-left: 0
}
#landingScores select {
  height: 29px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.hide-on-screen {display:none;}

@media screen and (min-width: 1025px) {
  #landingScores select {
    width: 60%;
  }
}
@media print {
  .hide-on-screen {display:block;}
}
