.dayz.month .days .day .event {
  height: 80px;
}
.currentUser {
  color: crimson;
}
.formError {
  background-color: crimson;
  color: white;
}
.tinyIcon {
  font-size: 20px;
}
.mediumIcon {
  font-size: 30px;
}
.calendarDate {
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
}
.btn-primary {
  color: rgb(255, 217, 0);
  font-weight: bold;
  margin: 3px;
}
.landingScores {
  margin-left: 16px;
}
.list-group-item {
  background-color: gainsboro;
  color: white;
  height: 28px;
  width: 170px;
  font-size: 12px;
  font-weight: bold;
  padding-left: 25px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 5px;
}
.list-group-item.active {
  background-color: rgb(255, 217, 0);
  color: black;
}
